<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <title>CMSC124 Project</title>
    <link rel="stylesheet" type="text/css" href="semantic/semantic.min.css">
    <script src="semantic/semantic.min.js"></script>
</head>
<body>
    <div ng-controller="lexicalController as lex">
        <button ng-click="lex.openFile();" class="ui button">Load File</button>
        <input type="file" id="file" style="display: none;" ng-model="lex.file" ng-change="lex.loadFile()">
        <pre>
            <p>{{lex.text}}</p>
        </pre>

        <ul>
            <li ng-repeat="token in lex.tokens">
                {{token.lexeme}} - {{token.classification}}
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/ng-file-input.js"></script>
    <script type="text/javascript" src="app/lexical.js"></script>
</body>
</html>
